#
# IDOL Rich Media Tutorials:
# Face Analysis 2c
#
[Session]
Engine0 = VideoIngest
# Uncomment this line when processing a video file
# IngestRate = 0
Engine1 = RateLimitedIngest
Engine2 = FaceDetection
Engine3 = CombineFaces
Engine4 = FaceImageBlur
Engine5 = BlurredFacesVideo
#
# Run additional engines for monitoring
#
Engine6 = FaceImageBlurMonitor
Engine7 = Keep

#
# Ingest
#
[VideoIngest]
Type = Video
# Uncomment this line for Windows
Format = dshow
# Uncomment this line for Ubuntu
# Format = v4l2

#
# Analysis
#
[FaceDetection]
Type = FaceDetect
Input = RateLimitedIngest.Output
SampleInterval = 0

#
# Event Processing
#
[RateLimitedIngest]
Type = Deduplicate
Input = Default_Image
MinTimeInterval = 200ms
PredicateType = Always

[CombineFaces]
Type = Combine
Input0 = RateLimitedIngest.Output
Input1 = FaceDetection.Data

#
# Transform
#
[FaceImageBlur]
Type = Blur
Input = CombineFaces.Output

[FaceImageBlurMonitor]
Type = Blur
Input = FaceDetection.DataWithSource

#
# Encoding
#
[BlurredFacesVideo]
Type = Mpeg
ImageInput = FaceImageBlur.Output
OutputPath = output/faces2c/%currentTime.timestamp%_blur.mp4
UseTempFolder = True
Segment = True
SegmentDuration = 1m

#
# Enable additional tracks for monitoring.
#
[Keep]
Type = Deduplicate
Input = FaceImageBlurMonitor.Output
