#
# IDOL Rich Media Tutorials:
# Face Recognition 2
#
[Session]
Engine0 = VideoIngest
# Uncomment this line when processing a video file
# IngestRate = 0
Engine1 = FaceDetection
Engine2 = FaceRecognition
Engine3 = FaceImageCrop
Engine4 = KnownFace
Engine5 = UnknownFace
Engine6 = AutoEnrollUnknown
Engine7 = AutoEnrollKnown
Engine8 = Keep

#
# Ingest
#
[VideoIngest]
Type = Video
# Uncomment this line for Windows
Format = dshow
# Uncomment this line for Ubuntu
# Format = v4l2

#
# Analysis
#
[FaceDetection]
Type = FaceDetect
SegmentDuration = 5s

[FaceRecognition]
Type = FaceRecognize
Input = FaceDetection.SegmentedResultWithSource
SegmentDuration = 30s

[AutoEnrollKnown]
Type = Enroll
Module = Face
Input = KnownFace.Output
Database = %record.FaceRecognitionResultAndImage.identity.database%
Identifier = %record.FaceRecognitionResultAndImage.identity.identifier%

[AutoEnrollUnknown]
Type = Enroll
Module = Face
Input = UnknownFace.Output
Database = Workshop

#
# Event Processing
#
[KnownFace]
Type = Filter
Input = FaceImageCrop.Output
LuaScript = knownIdentity.lua

[UnknownFace]
Type = Filter
Input = FaceImageCrop.Output
LuaScript = unknownIdentity.lua

#
# Transform
#
[FaceImageCrop]
Type = Crop
Input = FaceRecognition.ResultWithSource
Border = 15%

#
# Enable additional tracks for monitoring.
#
[Keep]
Type = Combine
Input0 = FaceDetection.DataWithSource
Input1 = FaceRecognition.DataWithSource
Input2 = FaceRecognition.SegmentedResultWithSource
